<section id="Card">
    <h2 class="section-title">
        Cards
    </h2>
    <div class="subsection">
        <h3 class="subsection-title">
            Simple Card Display
        </h3>
        <div class="css-display">
            <div class="row center">
                <div class="card" style="width: 300px;">
                    <h3 class="card-title">
                        Card Title
                    </h3>
                    <h5 class="card-subtitle italic">
                        card subtitle
                    </h5>
                    <div class="card-content" card-bottom-padding>
                        Card content Culpa consectetur cupidatat in officia incididunt et elit ad excepteur.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>