<section id="Text">
    <h2 class="section-title">Text</h2>
    <div class="subsection">
        <h3 class="subsection-title">
            Simple Text Weights
        </h3>
        <div class="css-display">
            <div class="row center">
                <div class="column" style="padding: 2rem;">
                    <div strong>Strong</div>
                    <div bold>Bold</div>
                    <div normal>Normal</div>
                    <div light>Light</div>
                </div>
                <div class="column" style="padding: 2rem">
                    <strong>Strong</strong>
                    <bold>Bold</bold>
                    <div>Normal</div>
                    <light>Light</light>
                </div>
            </div>
        </div>
    </div>
    <div class="subsection">
        <h3 class="subsection-title">
            Simple Text Styles
        </h3>
        <div class="css-display">
            <div class="row center">
                <div class="column" style="padding: 2rem;">
                    <div italic>Italic</div>
                    <div oblique>Oblique</div>
                </div>
                <div class="column" style="padding: 2rem;">
                    <italic>Italic</italic>
                    <oblique>Oblique</oblique>
                </div>
            </div>
        </div>
    </div>
    <div class="subsection">
        <h3 class="subsection-title">
            Extra Text Features
        </h3>
        <div class="css-display">
            <vic class="column center" style="padding: 1rem;">
                <div super>
                    Super
                </div>
                <div uppercase>uppercase</div>
                <div lowercase>LOWERCASE</div>
                <div small-caps>Small Caps</div>
            </vic>
        </div>
    </div>
</section>